*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    padding-top: 15px;
}
img{
    padding-left: 15px;
    width: 8%;
    vertical-align: middle;
}
nav h4{
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
    color: #5F6368;
    font-weight: 500;
}
ul li{
    display: inline-block;
    list-style-type: none;
    font-weight: 500;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
    color: #5F6368;
    padding-right: 25px;
}
.letter li{
    list-style-type: lower-alpha;
}
main h2{
    padding-top: 50px;
    font-size: 25px;
}
p{
    padding-top: 10px;
    line-height: 25px;
}
p a{
    text-decoration: none;
}
footer{
    background-color: #F5F5F5;
}
footer .container a{
    text-decoration: none;
    color:#5F6368;
    padding-left: 5px;
    font-size: 10px;
}